{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="nxl-container">
    <div class="nxl-content">
        <!-- [ page-header ] start -->
        <div class="page-header">
            <div class="page-header-left d-flex align-items-center">
                <div class="page-header-title">
                    <h5 class="m-b-10">User</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">User List</li>
                </ul>
            </div>
            
        </div>
        <!-- [ page-header ] end -->
        <!-- [ Main Content ] start -->
        <div class="main-content">
            <div class="row">
                
                <!-- [Recent Orders] start -->
                <div class="col-lg-12">
                    <div class="card stretch stretch-full">
                        
                        <div class="card-body custom-card-action p-0">
                            <div class="table-responsive">
                                <table id="userTable" class="table table-hover mb-0">
                                    <thead>
                                        <tr >
                                            <th>S.No</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Used Id</th>
                                            <th>Role</th>
                                            
                                            <th>Status</th>
                                            <th class="text-end">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-dark fw-bold">1</td>
                                            
                                            
                                            <td>
                                                <a href="javascript:void(0);" class="d-block mb-1">Brasil</a>
                                                
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="d-block mb-1">brasil@gmai.com</a>
                                               
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="d-block mb-1">HTAD001</a>
                                               
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="d-block mb-1">Admin</a>
                                                
                                            </td>
                                            
                                            <td>
                                                <span class="badge bg-soft-primary text-primary">Active</span>
                                            </td>
                                            <td class="text-end">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <a href="javascript:void(0);" class="avatar-text avatar-md">
                                                        <i class="feather-eye"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" class="avatar-text avatar-md">
                                                        <i class="feather-edit"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" class="avatar-text avatar-md">
                                                        <i class="feather-trash-2"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <!-- [Recent Orders] end -->
                <!-- [] start -->
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <!-- [ Footer ] start -->
    <!-- [ Footer ] end -->
    <!-- [ Footer ] end -->
</main>
{% endblock content %}